<form [formGroup]="editTaskForm" (ngSubmit)="editTask(newTitle, newDescription)">
  <div class="task-container">
    <p><a routerLink="/list">Go to Task list</a></p>
    <label for="task">Name: </label>
    <input placeholder="Title" type="text" #newTitle formControlName="title">
    <textarea placeholder="Description" type="text" #newDescription formControlName="description"></textarea>
    <button type="submit" pButton [disabled]="!editTaskForm.valid">Edit</button>
    <p>Input state: {{ editTaskForm.value | json}}</p>
  </div>
</form>
