<form
  [formGroup]="editTaskForm"
  (ngSubmit)="editTask(newTitle, newDescription)"
>
  <div class="task-container">
    <p-card>
      <button
        pButton
        routerLink="/list"
        type="submit"
        label="Go to task list"
        class="p-button-sm"
      ></button>
      <div class="p-col-12 p-md-4">
        <h2>Edit a task</h2>
        <div class="p-inputgroup">
          <input
            placeholder="Title"
            [maxLength]="50"
            type="text"
            #newTitle
            formControlName="title"
            pInputText
          />
        </div>
        <br />
        <textarea
          type="text"
          formControlName="description"
          placeholder="Description"
          [rows]="5"
          [cols]="45"
          pInputTextarea
          #newDescription
          [autoResize]="true"
        >
        </textarea>
        <br />
      </div>
      <button
        pButton
        label="Edit task"
        icon="pi pi-check"
        class="p-button-sm"
        type="submit"
        [disabled]="!editTaskForm.valid"
      ></button>
    </p-card>
  </div>
</form>
