<p>
  <a  routerLink="/add">A new task? click here</a>
</p>
<div class="grid">
  <div cdkDropList class="col-12 md:col-6 drag-column" (cdkDropListDropped)="drop($event)">
      <div class="box">
        <div *ngIf="tasks.length <=0" class="tasks-announce">What are u waiting for? Make a task</div>
        <div *ngFor="let task of tasks; let i = index" cdkDrag class="task-info">
          <div
            [ngClass]="{'tasks-title': !task.success,
            'tasks-title-finished': task.success}"
            (click)="markAsDone(task)"
          >
            {{task.title}} <i *ngIf="task.success"class="pi pi-check"></i>
          </div>
          <div class="tasks-description">
             {{task.description}}
          </div>
          <div class="actions">
            <a [routerLink]="['/edit', i]">
              <i
                *ngIf="!task.success"
                class="pi pi-pencil pencil"
              > {{' '}}
              </i>
            </a>
            <a>
              <i
                *ngIf="!task.success"
                (click)="deleteTask(task)"
                class="pi pi-trash">
              </i>
            </a>
          </div>
        </div>
      </div>
  </div>
</div>

